@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.about {
  line-height: 27px;

  @include grid;

  justify-content: center;

  &__article {
    margin-top: 32px;
    grid-column: span 2;

    @include for-tablet {
      margin-top: 0;
      grid-column: span 3;
    }

    @include for-desktop {
      margin-top: 0;
      grid-column: span 7;
    }
  }

  &__bold {
    font-weight: $bold;
  }

  &__item {
    margin-top: 16px;

    &--open-time {
      display: flex;
      flex-direction: row;
      justify-content: start;
      gap: 24px;
      font-size: $font-small;
    }
  }

  &__title {
    font-weight: $bold;
    width: 100%;
    grid-column: span 2;

    @include for-tablet {
      grid-column: span 3;
    }

    @include for-desktop {
      grid-column: span 5;
    }
  }

  &__accent {
    margin-top: 20px;
    color: $accent-color;
    font-size: 12px;
    line-height: 140%;
  }

  &__name {
    font-size: $font-big;
    line-height: $font-big;
    letter-spacing: -1.5px;

    @include for-tablet {
      font-size: $font-huge;
      line-height: $font-huge;
    }
  }

  &__title-2 {
    font-weight: $bold;
    font-size: 24px;
    line-height: 30px;

    &:nth-of-type(1) {
      @include for-tablet {
        margin-top: 20px;
      }
    }

    &:nth-of-type(2) {
      margin-top: 24px;
    }
  }
}
