@use '../utils/vars' as *;

.address {
  width: 237px;
  line-height: 27px;
  margin-bottom: 48px;
  font-size: $font-small;

  &__title {
    font-weight: $bold;
    margin-bottom: 16px;
    display: inline-block;
  }

  &__paragraph {
    font-size: 14px;
    margin-bottom: 4px;
  }

  &__bold {
    font-weight: $bold;
    margin-bottom: 8px;
  }
}
