.article {
  line-height: 27px;

  &__title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
  }

  &__open_time {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 24px;
    font-size: 16px;
  }

  &__item {
    margin-top: 16px;
  }

  &__bold {
    font-weight: 700;
  }
}
