@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.button {
  width: 280px;
  background-color: $accent-color;
  color: $white;
  border: 0;
  font-family: $main-font;
  font-weight: $bold;
  font-size: $font-small;
  line-height: 56px;
  display: block;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    background-color: $dark-accent;
  }

  &:active {
    background-color: $light-accent;
  }

  &--form {
    width: 100%;
  }

  &--gallery {
    margin-top: 40px;

    @include for-tablet {
      width: 392px;
    }

    @include for-desktop {
      width: 324px;
    }
  }
}
