@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.contact {
  @include grid;

  justify-content: center;

  &__title {
    font-weight: $bold;
    margin-bottom: 48px;
    margin-top: 20px;
    font-size: $font-big;
    line-height: $font-big;
    letter-spacing: -1.5px;

    @include for-tablet {
      font-size: $font-huge;
      line-height: $font-huge;
      width: 392px;
      margin: 20px auto 48px;
    }
  }

  &__center {
    text-align: center;
    grid-column: span 2;

    @include for-tablet {
      grid-column: span 6;
    }

    @include for-desktop {
      grid-column: span 12;
    }
  }

  &__item {
    grid-column: span 2;

    @include for-tablet {
      grid-column: span 3;
    }

    @include for-desktop {
      grid-column: span 7;
      display: flex;
    }
  }

  &__form {
    grid-column: span 2;

    @include for-tablet {
      grid-column: span 3;
      margin-top: 0;
    }

    @include for-desktop {
      grid-column: span 5;
    }
  }
}
