@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__articles {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include for-desktop {
      flex-direction: row;
      gap: 24px;
    }
  }

  &__title {
    display: inline-block;
    font-weight: $bold;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: $font-big;
    line-height: $font-big;
    letter-spacing: -1.5px;
    width: 280px;

    @include for-tablet {
      font-size: $font-huge;
      line-height: $font-huge;
      width: 392px;
    }

    @include for-desktop {
      width: 498px;
    }
  }

  &__center {
    text-align: center;
  }

  &__article {
    margin-bottom: 48px;
  }

  &__item {
    text-align: center;
    width: 100%;
  }

  &__image {
    width: 280px;
    margin-bottom: 24px;
    transition: $transition-time;

    &:hover {
      transform: scale(1.05);
    }

    @include for-tablet {
      width: 392px;
      margin-bottom: 32px;
    }

    @include for-desktop {
      width: 324px;
    }
  }

  &__subtitle {
    color: $accent-color;
    font-weight: $bold;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 4px;
  }

  &__paragraph {
    width: 280px;
    font-family: $sec-font;
    font-size: $font-small;
    line-height: 27px;
    margin: 0 auto;

    @include for-tablet {
      width: 392px;
    }

    @include for-desktop {
      width: 324px;
    }
  }
}
