@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.gallery {
  &__title {
    display: inline-block;
    margin-top: 20px;
    font-weight: $bold;
    font-size: $font-big;
    line-height: $font-big;
    letter-spacing: -1.5px;

    @include for-tablet {
      font-size: $font-huge;
    }
  }

  &__center {
    text-align: center;
  }

  &__photos {
    margin-top: 48px;
  }

  &__description {
    width: 280px;
    margin: 8px auto 0;
    font-weight: 400;
    font-size: $font-small;
    line-height: 27px;

    @include for-tablet {
      width: 392px;
    }
  }
}
