@use '../utils/mixins' as *;
@use '../utils/vars' as *;

.header {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 25px 20px;
  background-image: url(../images/photos/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;

  @include for-tablet {
    padding: 50px 72px;
  }

  @include grid;

  justify-content: space-between;
  align-items: start;
  grid-template-rows: 1fr 1fr 1fr;

  &__top {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;

    @include for-tablet {
      grid-column: span 6;
    }
  }

  &__logo {
    width: 64px;
    height: 46px;

    @include for-tablet {
      width: 87px;
      height: 65px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-decoration: none;

    @include for-tablet {
      gap: 55px;
    }
  }

  &__phone {
    display: block;
    margin: auto;
    width: 18px;
    height: 18px;
  }

  &__burger {
    display: block;
    margin: auto;
    width: 18px;
    height: 12px;
  }

  &__middle {
    grid-column: span 2;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.5px;
    text-align: center;

    @include for-tablet {
      grid-column: span 6;
      font-size: 64px;
      line-height: 64px;
    }
  }
}
