@use '../utils/mixins' as *;
@use '../utils/vars' as *;

.header {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 25px 20px;
  background-image: url(../images/photos/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;

  @include grid;

  justify-content: space-between;
  align-items: start;
  grid-template-rows: 1fr 1fr 1fr;

  @include for-tablet {
    padding: 50px 72px;
  }

  @include for-desktop {
    padding: 50px 120px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  &__top {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;

    @include for-tablet {
      grid-column: span 6;
    }

    @include for-desktop {
      grid-column: span 12;
    }
  }

  &__logo {
    width: 64px;
    height: 46px;

    @include for-tablet {
      width: 87px;
      height: 65px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-decoration: none;

    @include for-tablet {
      gap: 55px;
    }
  }

  &__burger {
    &::before {
      content: '';
      background-image: url(../images/icons/burger.svg);
      background-size: cover;
      display: block;
      width: 18px;
      height: 12px;

      @include for-tablet {
        width: 24px;
        height: 16px;
      }
    }

    &::after {
      content: '';
      background-image: url(../images/icons/burger-hover.svg);
      background-size: cover;
      width: 18px;
      height: 12px;
      display: none;

      @include for-tablet {
        width: 24px;
        height: 16px;
      }
    }

    &:hover {
      &::before {
        display: none;
      }
      &::after {
        display: block;
      }
    }
  }

  &__middle {
    grid-column: span 2;
    font-weight: $bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.5px;
    text-align: center;

    @include for-tablet {
      grid-column: span 6;
      font-size: 64px;
      line-height: 64px;
    }

    @include for-desktop {
      grid-column: span 12;
      font-size: 80px;
      line-height: 80px;
    }
  }
}
