@use '../utils/vars' as *;

.links {
  padding-top: 30px;

  &__link {
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    padding-bottom: 8px;

    &:hover {
      border-bottom: 1px solid $white;
      margin-bottom: -1px;
    }
  }

  &__item {
    margin-bottom: 26px;
  }
}
