@use '../utils/vars' as *;

.title {
  font-weight: 700;
  width: 100%;

  &--center {
    text-align: center;
  }

  &__accent {
    color: $accent-color;
    font-size: 12px;
    line-height: 140%;
  }

  &__name {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
  }

  &__description {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
