@use 'utils/vars' as *;
@use 'utils/reset';
@use 'blocks/header';
@use 'blocks/title';
@use 'blocks/main';
@use 'blocks/section';
@use 'blocks/article';
@use 'blocks/photos';
@use 'blocks/button';
@use 'blocks/gallery';
@use 'blocks/explore';

html {
  font-family: $main-font;
  font-weight: 400;
  color: $main-dark;
  background-color: $background;
}
