@use 'utils/vars' as *;
@use 'utils/reset';
@use 'blocks/header';
@use 'blocks/main';
@use 'blocks/section';
@use 'blocks/photos';
@use 'blocks/button';
@use 'blocks/about';
@use 'blocks/gallery';
@use 'blocks/explore';
@use 'blocks/contact';
@use 'blocks/address';
@use 'blocks/form';
@use 'blocks/footer';
@use 'blocks/navigation';
@use 'blocks/menu';
@use 'blocks/links';
@use 'blocks/logo';
@use 'blocks/phone';

html {
  font-family: $main-font;
  font-weight: 400;
  color: $main-dark;
  background-color: $background;
  scroll-behavior: smooth;
}

.page__body--with-menu {
  overflow: hidden;
}
