$background: #e5e5e5;
$gray: #7e7e83;
$main-dark: #161616;
$white: #fff;
$form-bg: #f8f8fa;
$accent-color: #d12d35;
$dark-accent: #ae1c23;
$light-accent: #eb343d;

/* Fonts */
$main-font: Cinzel, serif;
$roboto: Roboto, sans-serif;

/* Animation */
$transition-time: 0.2s;
